<div class="search-result">
  <div class="search-result-main">
    <h2 class="search-keyward">
      検索結果
    </h2>
    <% if @results.length !=0 %>
     <% @results.each do |result|%>
      <td>
      <br>
      <li class="search-restaurant">
        <div class="title">
          <%= link_to 'result.name', "#"%>
        </div>
        <div class="content">
          <%= result.about %>
          <%= link_to "口コミ", "#" %>
        </div>
        <div class="reservation">
        </div>
      </li>
     <% end %>
    <% else %>
      該当する商品はありません
    <% end %>
    
    
     
    
  </div>
  <footer class="search-result-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">グルメ利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>
  </footer>


</div>